body { background: #8f74b4; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 10px; display: flex; }
.block-cluster-0 { color: #f6846b; font-size: 17px; margin-bottom: 5px; }
.block-invoice-1 { color: #e33357; font-size: 14px; margin-bottom: 5px; }
.block-helper-2 { color: #a77a92; font-size: 12px; margin-bottom: 5px; }
.block-cluster-3 { color: #fda545; font-size: 14px; margin-bottom: 5px; }
.block-token-4 { color: #f5a98e; font-size: 13px; margin-bottom: 5px; }
.block-email-5 { color: #d603d4; font-size: 20px; margin-bottom: 5px; }
.block-shipping-6 { color: #979c75; font-size: 14px; margin-bottom: 5px; }
.block-search-7 { color: #28e02f; font-size: 18px; margin-bottom: 5px; }
.block-helper-8 { color: #11b10a; font-size: 13px; margin-bottom: 5px; }